# A simple action usage
name: Build Kernel
on:
  workflow_dispatch:
jobs:
  Build-Kernel:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Build Kernel
        uses: vxd303/build-kn@main
        with:
          # Thay đổi URL chỉ còn đường dẫn repo
          kernel-url: https://github.com/vxd303/kernel_google_msm-4.9
          # Thêm tham số repo-token để xác thực
          repo-token: ${{ secrets.PRIVATE_REPO_TOKEN }}
          pass-zip: ${{ secrets.PASSZIP }}
          kernel-dir: msm-4.19
          kernel-branch: thirteen
          config: b1c1_defconfig
          arch: arm64
          aosp-gcc: true
          aosp-clang: true
          ksu: false
          ksu-version: v0.7.0
          android-version: 12
          aosp-clang-version: r383902
          python-27: true
          disable-lto: true
          anykernel3: true
